/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: para un reseteo de márgenes global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fondo gris claro */
}